<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
{{template "header"}}

<body>
    {{template "navbar" .}} {{template "gwSideMenu" .}}
    <div class="client-edit-form">
        <form class="ui form">
            <h4 class="ui dividing header">Client Information</h4>
            <div class="field">
                <div class="two fields">
                    <div class="field">
                        <label>Name</label>
                        <input type="text" value="{{.Client.Name}}" disabled>
                    </div>
                    <div class="field">
                        <label>ClientID</label>
                        <input type="text" value="{{.Client.ClientID}}" disabled>
                    </div>
                </div>
            </div>
            <div class="field">
                <label>Client Secret</label>
                <input type="text" value="{{.Client.Secret}}" disabled>
            </div>
        </form>
        {{if eq .GatewayClient.ClientID 0}}
        <div class="add-inner-form">
            <div class="ui yellow message">No API Gateway Client account active!</div>
        </div>
        {{else if eq .GatewayClient.Enabled false}}
        <div class="add-inner-form">
            <div class="ui red message">API Gateway Client account is disabled!</div>
        </div>
        {{else}}
        <div class="add-inner-form">
            <div class="ui green message">API Gateway Client account is enabled!</div>
        </div>
        {{end}}
    </div>
</body>

</html>